main{}
main .visual{position: relative; height: 80vh; overflow: hidden;}
main .visual video{width: 1920px;} /* width 100%로 주면 반응형 시 높이비율도 같이 줄어들어서 안됨 */
main .visual .txt{
    background-color: purple;
    position: absolute;/* 비디오 위로 올리기 */
    top: 30%; width: 100%;
    text-align: center;
}
main .visual .txt h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 50px;
    color: #fff;
}
main .visual .txt .start{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #222;
    font-size: 1.44rem; font-weight: 500;
    color: #fff;
}